* {
  margin: 0;
  padding: 0;
}
$--primary-color-100: #CBB486; // 品牌常规色

body {
  font-family: PingFangSC-Semi, PingFang SC, arial;
}
.vant-toast{ background:lime ！important }
.particulars-detail-popup {
  background: rgba(0, 0, 0, 0.7) !important;
}
